*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: rgb(248, 248, 248);
}
  nav{
    display: grid;
    height: 60px;
    width: 100%;
    grid-template-columns: 40% 60%;
    background-color: #333;
    z-index: 100;
  }
  .logo{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 5px;
    text-align: right;
  }
  #page-logo{
    height: 50px;
    width: 50px;
    display: block;
    margin-left: 100px;
    margin-top: 5px;
  }
  .navbar{
    display: grid;
    grid-template-columns: 30% 70%;
    position: fixed;
  }
  .nav-divider{
    height: 100%;
  }
  .nav-divider2{
    height: 100%;
  }
  .navigation{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 90px;
  }
  .navigation li{
    list-style-type: none;
    display: inline;
  }
  .navigation a{
    color: white;
    position: relative;
    top: 25px;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 4px;
  }
  /* main content */
  .wrapper{
     height: auto;
     height: calc(100% - 60px);
     width: 95%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     overflow-x: hidden;
     padding-top: 60px;
  }
  #sidenav{
      width: 17%;
      height: 100%;
      position: fixed;
  }
  #sidenav-list{
      margin-top: 60px;
  }
  .sidenav-item{
      padding: 10px;
      border-left: 5px solid rgb(255,255,255);
      list-style-type: none;
  }
  .sidenav-item, a{
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      color: #333;

  }
  #content{
      width: 83%;
      margin-left: 17%;
  }
  #first-section{
    height: auto;
    width: 800px;
    margin: 60px auto;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
  }
  .title-bar{
      background-color: #fdcb6e;
      color: #2d3436;
      padding-top: 5px;
      padding-left: 10px;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 30px;
  }
  .title-bar2{
      padding-left: 10px;
      font-family: 'Montserrat', sans-serif;
      font-size:20px;
  }
  .title-bar3{
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    }
  .wrap-content{
    padding-top: 20px;
    line-height: 150%;
  }   
  .article{
      padding-left: 50px;
      padding-right: 10px;
      line-height: 150%;
      font-size: 18px;
      font-family: 'Slabo 27px', serif;
      text-align: justify;
      line-height: 150%;
  }
  .list-item{
      padding-left: 50px;
  }
  .links{
      color: #27ae60;
  }
  li{
    font-family: 'Slabo 27px', serif;
  }
  /* second-section */
  #second-section{
    height: auto;
    width: 800px;
    margin: 60px auto;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
  }
   /* third-section */
   #third-section{
    height: auto;
    width: 800px;
    margin: 60px auto;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
  }
  #fourth-section {
    height: auto;
    width: 800px;
    margin: 60px auto;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
  }
  /** quiz style */
  #quiz-section {
    height: auto;
    width: 800px;
    margin: 60px auto;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
  }

  .question {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .answers {
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .answers label{
    display: block;
    margin-bottom: 10px;
  }

  button{
    font-family: 'Roboto Condensed', sans-serif;
      font-size: 22px;
      background-color: #2ecc71;
      color: #fff;
      border: 0px;
      border-radius: 3px;
      padding: 20px;
      cursor: pointer;
      margin-bottom: 20px;
  }

  button:hover{
      background-color: #38a;
  }

  .buttons {
    text-align: center;
  }
  
  .slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 10px;
    margin-left: 50px;
  }

  /* end */
  .playground{
    height: auto;
    width: 800px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
  }
  .play{
    height: 100%;
  }
  /* html examples */
  .html-1 {
    width: 100%;
    height: 150px;
  }
  /* footer */
  footer{
      height: 60px;
      background-color: rgb(255, 255, 255);
  }
  .copyright{
    text-align: center;
    padding-top: 20px;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
  }
