*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
header{
  display: grid;
  grid-auto-flow: 100%;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 600px;
}
nav{
  display: grid;
  height: 60px;
  grid-template-columns: 40% 60%;
}
.logo{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 5px;
  text-align: right;
}
#course-logo{
  height: 50px;
  width: 50px;
  position: relative;
  top: 10px;
}
#logo-name{
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  text-align: left;
  color: rgb(248, 248, 248);
  position: relative;
  top: 15px;
}
.nav-bar{
  display: grid;
  grid-template-columns: 50% 50%;
}
#nav-divider{
  height: 100%;
}
#nav-divider2{
  height: 100%;
}
.navigation{
  padding: 0;
  margin: 0;
}
.navigation li{
  list-style-type: none;
  display: inline;
}
.navigation a{
  color: white;
  position: relative;
  top: 25px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
}
/*banner*/
.banner{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 540px;
}
.banner-info{
  height: 100%;
  display: grid;
  grid-template-rows: 25% 15% 10% 25% 10%; 
}
#course-name{
  text-align: center;
  
}
#name-course{
  text-align: center;
  margin: 10px auto;
  font-size: 50px;
  color: #2ecc71;
  font-family: 'Montserrat', sans-serif;
}
#our-vision{
  text-align: center;
  margin: 15px auto;
  color: #ecf0f1;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
}
#search-bar{
  text-align: center;
}
#search{
  height: 40px;
  width: 700px;
  border-radius: 2px;
  border: 1px solid #333;
  margin: 50px auto;
  line-height: 150%;
  font-size: 20px;
  text-indent: 20px;
  caret-color: #2ecc71;
}
#submit{
  font-size: 15px;
  position: relative;
  top: -2px;
  padding: 10px;
  cursor: pointer;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  border-radius: 2px;
  color: white;
}
/*
=============
Topic section
=============
*/
.topic-section{
  display: grid;
  grid-auto-flow: 100%;
  grid-template-columns: 5% 90% 5%;
  height: 900px;
  background-color: rgb(248, 248, 248);
}
#course-topics{
  text-align: center;
  color: #2f3640;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  position: relative;
  top:20px;
}

#topic-container{
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: 10% 45% 45%;
}
#topic1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
#subtopic1{
  height: 100%;
  background-color: rgb(255, 255, 255);
}
#subtopic2{
  background-color: rgb(255, 255, 255);
}
#subtopic3{
  background-color: rgb(255, 255, 255);
}
#topic2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
#subtopic4{
  height: 100%;
  background-color: rgb(255, 255, 255);
}
#subtopic5{
  background-color: rgb(255, 255, 255);
}
#subtopic6{
  background-color: rgb(255, 255, 255);
}

