*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
header{
  display: grid;
  grid-auto-flow: 100%;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 600px;
}
nav{
  display: grid;
  height: 60px;
  grid-template-columns: 40% 60%;
}
.logo{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 5px;
  text-align: right;
}
#course-logo{
  height: 50px;
  width: 50px;
  position: relative;
  top: 10px;
}
#logo-name{
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  text-align: left;
  color: #2ecc71;
  position: relative;
  top: 15px;
}
.nav-bar{
  display: grid;
  grid-template-columns: 50% 50%;
}
#nav-divider{
  height: 100%;
}
#nav-divider2{
  height: 100%;
}
.navigation{
  padding: 0;
  margin: 0;
}
.navigation li{
  list-style-type: none;
  display: inline;
}
.navigation a{
  color: white;
  position: relative;
  top: 25px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
}

/*banner*/
.banner{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 540px;
}
.banner-info{
  height: 100%;
  display: grid;
  grid-template-rows: 25% 15% 10% 25% 10%;
}
#course-name{
  text-align: center;

}
#name-course{
  text-align: center;
  margin: 10px auto;
  font-size: 50px;
  color: #2ecc71;
  font-family: 'Montserrat', sans-serif;
}
#our-vision{
  text-align: center;
  margin: 15px auto;
  color: #ecf0f1;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
}
#search-bar{
  text-align: center;
}
#search{
  height: 40px;
  width: 700px;
  border-radius: 2px;
  border: 1px solid #333;
  margin: 50px auto;
  line-height: 150%;
  font-size: 20px;
  text-indent: 20px;
  caret-color: #2ecc71;
}
#submit{
  font-size: 15px;
  position: relative;
  top: -2px;
  padding: 10px;
  cursor: pointer;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  border-radius: 2px;
  color: white;
}
/*
=============
Topic section
=============
*/
.topic-section{
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 5% 90% 5%;
  height: 700px;
  background-color: rgb(233, 233, 233);
  padding-top: 200px;
  padding-bottom: 400px;
}
#course-topics{
  text-align: center;
  color: #2f3640;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  position: relative;
  top:20px;
}

#topic-container{
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: 10% 50% 50%;
}
#topic1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
#subtopic1{
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 40% 60%;
  cursor: pointer;
}
#subtopic1:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.topic-name{
  height: 100%;
  background-color: #1A1A1D;
  display: grid;
  grid-auto-rows: auto;
}
img.courselogo1{
  height: 100px;
  width: 100px;
  margin: 0px auto;
  padding-top: 17px;
}
img.courselogo2{
  height: 80px;
  width: 200px;
  margin: 0px auto;
  padding-top: 28px;
}
img.courselogo3{
  height: 80px;
  width: 200px;
  margin: 0px auto;
  padding-top: 28px;
}
img.courselogo4{
  height: 80px;
  width: 200px;
  margin: 0px auto;
  padding-top: 28px;
}
img.courselogo5{
  height: 100px;
  width: 100px;
  margin: 0px auto;
  padding-top: 17px;
}
img.courselogo6{
  height: 100px;
  width: 270px;
  margin: 0px auto;
  padding-top: 23px;
}

.description-course{
  padding-top: 20px;

}
.name-topic{
  text-align: center;
  margin: 30px auto;
  color: rgb(39, 174, 96);
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
}

.course-description{
  letter-spacing: 2px;
  text-align: justify;
  color: #333;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Mukta Malar', sans-serif;
}
#subtopic2{
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 40% 60%;
  cursor: pointer;
}
#subtopic2:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#subtopic3{
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 40% 60%;
  cursor: pointer;
}
#subtopic3:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#topic2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
#subtopic4{
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 40% 60%;
  cursor: pointer;
}
#subtopic4:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#subtopic5{
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 40% 60%;
  cursor: pointer;
}
#subtopic5:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#subtopic6{
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 40% 60%;
  cursor: pointer;
}
#subtopic6:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Footer */
footer{
  display: grid;
  height: 400px;
  grid-auto-rows: 85% 15%;
  background-color: rgb(255, 255, 255);
}
.row-footer{
  height: 100%;
  background-color: rgb(248, 248, 248);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.logo-footer{
  height: 200px;
}
#footer-logo{
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  letter-spacing: 5px;
  text-align: left;
  color: #2ecc71;
  position: absolute;
  margin-left: 50px;
  margin-top: 40px;
}
.naver{
  position: absolute;
  margin-left: 70px;
  margin-top: 50px;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}
.unnavbar{
  margin-top: 90px;
  margin-left: 70px;
  line-height: 150%;
}
#nav-item{
  color: #95a5a6;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.row-subfooter{
  height: 100%;
}
.copyright{
  text-align: center;
  margin: 25px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
}