*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: rgb(248, 248, 248);
}
  nav{
    display: grid;
    height: 60px;
    width: 100%;
    grid-template-columns: 40% 60%;
    background-color: #333;
    z-index: 100;
  }
  .logo{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 5px;
    text-align: right;
  }
  #page-logo{
    height: 50px;
    width: 50px;
    display: block;
    margin-left: 100px;
    margin-top: 5px;
  }
  .navbar{
    display: grid;
    grid-template-columns: 30% 70%;
    position: fixed;
  }
  .nav-divider{
    height: 100%;
  }
  .nav-divider2{
    height: 100%;
  }
  .navigation{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 90px;
  }
  .navigation li{
    list-style-type: none;
    display: inline;
  }
  .navigation a{
    color: white;
    position: relative;
    top: 25px;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 4px;
  }
  /* main content */
  .wrapper{
     height: 350vh;
     height: calc(100% - 60px);
     width: 95%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     overflow-x: hidden;
     padding-top: 60px;
  }
  #sidenav{
      width: 17%;
      height: 100%;
      position: fixed;
  }
  #sidenav-list{
      margin-top: 60px;
  }
  .sidenav-item{
      padding: 10px;
      border-left: 5px solid rgb(255,255,255);
      list-style-type: none;
  }
  .sidenav-item, a{
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      color: #333;
    }
    .sidenav-item, a:hover{
        color: #fdcb6e;
    }

  #content{
      width: 83%;
      margin-left: 17%;
  }
  #first-section{
      height: 400px;
      width: 800px;
      margin: 60px auto;
      background-color: rgb(255, 255, 255);
      display: grid;
      grid-template-rows: auto;
      box-sizing: border-box;
  }
  .title-bar{
      background-color: #fdcb6e;
      color: #2d3436;
      padding: 10px 0px 0px 10px; 
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 30px;
  }
  .title-bar2{
      padding: 10px 0px 0px 10px;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
  }
  .title-bar3{
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    }   
  .article{
      padding-left: 10px;
      padding-right: 10px;
      line-height: 150%;
      font-size: 18px;
      font-family: 'Slabo 27px', serif;
      text-align: justify;
      line-height: 150%;
  }
  .list-item{
      padding-left: 50px;
      font-family: 'Slabo 27px', serif;
  }
  li{
    font-family: 'Slabo 27px', serif;
  }
  /* second-section */
  #second-section{
    height: auto;
    width: 800px;
    margin: 60px auto;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
    box-sizing: border-box;
  }
  #third-section{
    height: auto;
    width: 800px;
    margin: 60px auto;
    padding: 20px 0px 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
    box-sizing: border-box;
  }
  #fourth-section{
    height: auto;
    width: 800px;
    margin: 60px auto;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
    box-sizing: border-box;
  }
  #fifth-section{
    height: auto;
    width: 800px;
    margin: 60px auto;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
    box-sizing: border-box;
  }
  /* footer */
  footer{
      height: 60px;
      background-color: rgb(255, 255, 255);
  }
  .copyright{
    text-align: center;
    padding-top: 20px;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
  }