$primaryColor: rgb(233, 233, 233) !important
$secondaryColor: rgb(255, 255, 255) !important
*
  margin: 0
  padding: 0
  box-sizing: border-box

body, html
  background-color: $primaryColor

.login
  background-color: $secondaryColor
  height: 30rem
  border-radius: 0.2rem
#logo
  height: 4rem
  width: 4rem
#username
  border: 0.1rem solid #55efc4
  height: 3.5rem
  border-left: 0rem
#password
  border: 0.1rem solid #55efc4
  height: 3.5rem
  border-left: 0rem
#usrIcon
  border: 0.1rem solid #55efc4
  background-color: $secondaryColor
  border-right: 0rem
#log
  height: 3rem
  text-transform: uppercase
  background-color: #fdcb6e
  border: 0rem
  font-size: 1.2rem
