$primaryColor: rgb(248, 248, 248) !important
$secondaryColor: rgb(255, 255, 255) !important
// fonts
$primaryFont: 'Roboto', sans-serif
*
  margin: 0
  padding: 0
  box-sizing: border-box
  word-spacing: normal !important
input[type='text'],
input[type='number'],
input[type='password'],
button,select,
textarea 
  outline: none
  box-shadow:none !important
  text-decoration: none
body::-webkit-scrollbar
    width: 0.2rem
body::-webkit-scrollbar-track 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
 
body::-webkit-scrollbar-thumb
  background-color: #27ae60
  outline: 1px solid #27ae60
body, html
  background-color: $primaryColor
  ul
    margin-left: 5rem
    list-style-type: circle
  h4
    font-family: 'Gothic A1', sans-serif
  code
    font-family: monospace, monospace
    font-size: 1rem
    line-height: 2
    color: #fff
// navbar
.navbar
  background-color: rgb(255, 255, 255) !important
  .nav-link
    color: rgb(138, 206, 131) !important
    font-family: 'Oswald', sans-serif
    text-transform: uppercase
    font-size: 0.9rem
    letter-spacing: 2px
    &:hover
      color: #2c3e50 !important
  .dropdown-menu
    // border: 0rem
    border-radius: 0rem
    .dropdown-item
      font-family: 'Lato', sans-serif
// login
.signUp
  border-radius: 0.5rem
  height: 30rem
  position: relative
  top: 10rem
  background-color: rgb(138, 206, 131)
  .form-group
    position: relative
    top: 6rem
    .form-control
      height: 3rem
  .btn-primary
    position: relative
    top: 7rem
    height: 3rem
    border: 0rem
    background-color: #333

// sign up
.login
  background-color: $secondaryColor
  height: 30rem
  border-radius: 0.2rem
  h5
    font-size: 1rem
    font-family: 'Lato', sans-serif
#logo
  height: 4rem
  width: 4rem
#username
  border: 0.1rem solid #55efc4
  height: 3.5rem
  border-left: 0rem
#password
  border: 0.1rem solid #55efc4
  height: 3.5rem
  border-left: 0rem
#usrIcon
  border: 0.1rem solid #55efc4
  background-color: $secondaryColor
  border-right: 0rem
#log
  height: 3rem
  text-transform: uppercase
  background-color: #fdcb6e
  border: 0rem
  font-size: 1.2rem

// home page
#logos
    height: 3rem
    width: 3rem
// home
.banner
  height: 30rem
  background-color: rgb(138, 206, 131) !important
#banner-title
  font-size: 5rem
  font-family: $primaryFont
  color: rgb(255, 255, 255)
#sayIng
  font-family: 'Lato', sans-serif
  color: rgb(255, 255, 255)
// card
.card
  background-color: rgb(255, 255, 255) !important
  border: 0rem
  border-radius: 0rem
  .btn-primary
    height: 2.5rem
    font-family: 'Lato', sans-serif
    font-size: 1.2rem
    letter-spacing: 2px
// catalog
.catalog
  height: auto
  background-color: rgb(233, 233, 233)
  padding-bottom: 5rem
  .btn-primary
    background-color: rgb(138, 206, 131)
    border: 0rem
    margin-bottom: 2rem
#Layer_1
  max-width: 100%
  max-height: 100%
// Lesson 1
.banner-topic
  height: 20rem
  background-color: rgb(138, 206, 131) !important

.topic-color
  background-color: rgb(138, 206, 131) !important
#description
  text-align: justify
  position: relative
  top: 5rem
  font-size: 1rem
  font-family: 'Gothic A1', sans-serif
  line-height: 150% !important
  color: rgb(255, 255, 255)
#startTopic
  border-radius: 0rem
  position: relative
  top: 5rem
  height: 3rem
.track-card
  height: 9rem
  background-color: $secondaryColor
  cursor: pointer
  .row
    background-color: rgb(249, 240, 240)
    a
      color: #333
      &:hover
        text-decoration: underline dotted !important
.track-card:hover
  background-color: #333
.status
  height: 7rem
  border-radius: 10rem
  width: 7rem
  background-color: #ffbe76
#statusCode
  text-align: center
  position: relative
  top: 2rem
  color: $secondaryColor
p
  font-family: 'Lato', sans-serif
  line-height: 1.8rem
  text-align: justify
figure
  background-color: rgb(55, 58, 64)
//header animation
.header_animation
  font-size: 30px
  color: #fff
  font-family: monospace
  height: 2rem
  overflow: hidden
  border-right: .15em solid orange
  white-space: nowrap
  margin: 0 auto
  letter-spacing: .15em
  animation: typing 4s steps(35, end), blink-caret .5s step-end infinite

@keyframes typing
  from
    width: 0
  to
    width: 70%


@keyframes blink-caret
  from, to
      border-color: transparent
  30%
    border-color: white
// wrapper discussion
.wrapper-discussion
  height: auto
  position: relative
  padding-bottom: 15rem
  background-color: rgb(245, 245, 245)
  .forum-container
    height: auto
    a
      text-decoration: none !important
      color: #2c3e50
    .header
      height: 15rem
      h2
        font-family: 'Lato', sans-serif
        text-transform: uppercase
        font-size: 2rem
        color: #353b48
        position: relative
        top: 2rem
      p
        color: #34495e
        font-family: 'Open Sans Condensed', sans-serif
      .btn-primary
        border: 0rem
        border-radius: 0.2rem
        background-color: rgb(250, 250, 250)
        font-family: 'Lato', sans-serif
        color: #353b48
        &:hover
          color: rgb(250, 250, 250)
          background-color: #353b48
      .modal-content
        border: 0rem
        border-radius: 0.5rem
        .modal-header
          background-color: #ffeaa7
          border: 0rem
          border-top-radius:  0.5rem
          .modal-title
            color: #2c3e50
            font-family: 'Lato', sans-serif
            letter-spacing: 2px
          span
            color: #ffffff
        .modal-body
          .container
            height: auto
            .form-control
              border: 0rem
              background-color: rgb(244, 244, 244)
              color: #34495e !important
              font-family: 'Lato', sans-serif
    #topic-container  
      background-color: rgb(255, 255, 255)
      height: 10rem
    .side-design
      height: auto
      width: 1rem
      background-color: #333333

footer
  height: 8rem
  bottom: 0rem !important
  width: 100vw
  .banner-footer
    h5
      font-family: 'Lato', sans-serif
      font-size: 1.5rem
      text-transform: uppercase
      letter-spacing: 2px
    ul
      list-style-type: none
      li
        line-height: 150%
        padding-top: 0.5rem
        a
          color: #718093
          &:hover
            text-decoration: none
            color: #273c75
  .footer-catalog
    h4
      font-family: 'Lato', sans-serif
      font-size: 1rem
      letter-spacing: 2px
    ul
      list-style-type: none
      li
        line-height: 150%
        padding-top: 0.5rem
        a
          color: #718093
          &:hover
            text-decoration: none
            color: #273c75
          
  .footer-child
    height: 3rem
    position: relative
    top: 5rem
    bottom: 0rem
    border-top: 1px solid rgb(233, 233, 233)
    h5
      font-family: 'Lato', sans-serif
      font-size: 1rem
      color: #718093


// quiz results
.results
  height: 5rem
  background-color: rgb(138, 206, 131)
  color: #fff
// next button
.btn-success
  height: 3rem
  border-radius: 3rem
  border: 0rem
  font-family: 'Lato', sans-serif
  font-size: 1.5rem
  margin-bottom: 6rem
  margin-top: 5rem
  background-color: rgb(255, 190, 118)
  &:hover
    background-color: #fff
    color: #333
    border: 1px solid #000
// profile
.userprofile
  position: relative
  top: 5rem
  bottom: 5rem
  height: 30rem
  background-color: #444
  border-radius: 5rem
  .userPic
    height: 30rem
    background-color: rgb(233, 233, 233)
    img
      position: relative
      top: 5rem
  h2
    font-family: monospace, monospaces
    color: rgb(138, 206, 131) !important
  h3
    font-family: monospace, monospaces
    color: rgb(138, 206, 131) !important
  .modal-content
    border-bottom: 0rem
    .modal-header
      border-bottom: 0rem
    .modal-footer
      border-top: 0rem
  .badge-light
    &:hover
      background-color: transparent
// topic footer





// wrapper topic
.wrapper-topic
  height:   100vh auto
  background-color: rgb(233, 233, 233)
  position: relative
  padding-bottom: 5rem
  .post1
    height: auto
    background-color: rgb(245, 245, 245)
  #postComment
    background-color: rgb(240, 240, 240) !important
    color: #2c3e50
    border: 0rem
    border-radius: 0rem
    line-height: 150%
    font-family: 'Lato', sans-serif
    font-size: 1rem
  .btn-primary
    background-color: #27ae60
    border: 0rem
    border-radius: 0.5rem
// wrapper-team
.wrapper-team
  height: auto
  background-color: rgb(240, 240, 240)
  position: relative
  padding-bottom: 10rem
  .card
    background-color: rgb(248,248,248) !important
    .role
      font-family: 'Lato', sans-serif
      font-size: 1rem
  .card-header
    background-color: transparent
    border: 0rem
    img
      width: 100%
      height: 100%
      // position: relative
      // left: 7vw
  .card-body
    text-align: left
    a
      font-size: 2rem
      color: #2c3e50
      &:hover
        color: rgb(138, 206, 131) !important