<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Code Ninja</title>
  <link rel="stylesheet" href="../../Bootstrap/css/bootstrap-grid.css">
  <link rel="stylesheet" href="../../Bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../../Bootstrap/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="../../Bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../Bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../Bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../style/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" href="../../image/course_logo.png">
</head>
<body>
		<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
				<a class="navbar-brand ml-5" href="../home.html">
					<img src="../../image/Logo1x.png" alt="" id="logos">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="../home.html">Catalog<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="../discussion.html">Discussion<span class="sr-only">(current)</span></a>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto mr-5">
						<li class="nav-item active">
									<a class="nav-link" href="../javaservlets.html">Java Servlet Walkthrough<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Profile
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="../../server/logout.php">Logout</a>
								<a class="dropdown-item" href="../profile.html">Profile</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
<div class="container-fluid wrapper-content">
    <div class="row ml-2 mr-3 mt-5">
      <!-- <div class="col-sm-12 col-md-3">
        <div class="container userProgress">

        </div>
      </div> -->
      <div class="col-sm-12 col-md-12 test">
        <div class="container">
          <div class="row mt-5">
            <h3>Java Server Pages</h3>
          </div>
          <div class="row mt-3">
            <p><span class="emphasize">Java Server Pages</span>or also known as JSP is a server-side programming technology that is used to create dynamic web pages just like Servlet.</p>
          </div>
		  <div class="row mt-3">
            <h5><span class="emphasize">Life Cycle Methods of JSP</span></h5>
		  </div>

		  <div class="row mt-3">
			<h6>JSP Initialization</h6>
		  </div>
		  <div>
			<p>jspInit() method</p>
		  </div>

		  <div class="row">
			<h6>JSP Request Handling</h6>
		  </div>
		  <div>
			<p>jspService() method</p>
		  </div>

		  <div class="row">
			<h6>JSP Termination</h6>
		  </div>
		  <div>
			<p>jspDestroy() method</p>
          </div>
		  <div class="row mt-5">
		  <h5>JSP Scripting Elements<h5>
		  </div>
		  <div class="row">
			<p>The scripting elements lets you insert java code inside the JSP. Here are the three types of scripting elements:</p>
		  </div>
		  <div class="row mt-3">
		  <p>Scriptlet tag is used to execute java source code in JSP.</p>
		  </div>
			<div class="row">
			<p>Here is the sample syntax:</p>
			</div>
			<figure>
			<pre>
			<code>
				<%  java source code %>
			</code>
			</pre>
			</figure>
			  <div class="row mt-3">
		  <p>Expression tag is mainly used to print the values of variable or method.</p>
		  </div>
			<div class="row">
			<p>Here is the sample syntax:</p>
			</div>
			<figure>
			<pre>
			<code>
				<%=  statement %>
			</code>
			</pre>
			</figure>
			  <div class="row mt-3">
		  <p>Declaration tag is used to declare fields and methods.</p>
		  </div>
			<div class="row">
			<p>Here is the sample syntax:</p>
			</div>
			<figure>
			<pre>
			<code>
				<%!  field or method declaration %>
			</code>
			</pre>
			</figure>
		  <div class="row mt-5">
		  <h5>JSP Directive Elements<h5>
		  </div>
		  <div class="row">
		  <p>The JSP directives command the web container how to convert a JSP page into the corresponding servlet.</p>
		  </div>
		  <div class="row">
		  <p>There are three types of directives:</p>
		  </div>
			<p>•	page directive</p>
			<p>•	include directive</p>
			<p>•	taglib directive</p>
		<div class="row mt-3">
		<p>JSP page directive defines attributes that apply to an entire JSP page.</p>
		</div>
		<div class="row">
		<p>Here is the sample syntax for page directive:</p>
		</div>
		<figure>
		<pre>
		<code>
				<%@ page attribute="value" %>
		</code>
		</pre>
		</figure>

		<div class="row mt-3">
		<p>JSP include directive is used to include the contents of any resource it may be jsp file, html file or text file.</p>
		</div>
		<div class="row">
		<p>Here is the sample syntax for include directive:</p>
		</div>
		<figure>
		<pre>
		<code>
				<%@ include file="resourceName" %>
		</code>
		</pre>
		</figure>

		<div class="row mt-3">
		<p>JSP taglib directive is used to define a tag library that defines many tags.</p>
		</div>
		<div class="row">
		<p>Here is the sample syntax for taglib directive:</p>
		</div>
		<figure>
		<pre>
		<code>
				<%@ taglib uri="uriofthetaglibrary" prefix="prefixoftaglibrary" %>
		</code>
		</pre>
		</figure>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <a href="lesson 5.html" class="btn btn-success col-6">Back</a>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
              <a href="javaservquiz.html" class="btn btn-success col-6">Take the quiz</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<footer class="container-fluid">
	<div class="container mt-5">
		<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<div class="container banner-footer">
							<h5>Code ninja</h5>
							<ul>
								<li><a href="../discussion.html">Discussion</a></li>
								<li><a href="#">About us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="container footer-catalog">
							<h4>Catalog</h4>
							<ul>
								<li>
									<a href="../javaservlets.html">Java Servlet</a>
								</li>
								<li>
									<a href="../php.html">PHP</a>
								</li>
								<li>
									<a href="../nodejs.html">Nodejs</a>
								</li>
								<li>
									<a href="../websecurity/lesson1.html">Web security</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="container footer-catalog">
								<h4>Resources</h4>
								<ul>
									<li>
										<a href="https://tomcat.apache.org/tomcat-5.5-doc/servletapi/" target="_blank">Java Servlet</a>
									</li>
									<li>
										<a href="http://php.net/docs.php" target="_blank">PHP</a>
									</li>
									<li>
										<a href="https://nodejs.org/api/" target="_blank">Nodejs</a>
									</li>
									<li>
										<a href="https://www.owasp.org/index.php/Top_10-2017_Top_10" target="_blank">Web security</a>
									</li>
								</ul>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="container-fluid footer-child">
			<div class="container">
				<div class="row text-center">
					<div class="col-12">
							<h5 class="mt-3">9340A-G4 © Code ninja</h5>
					</div>
				</div>
			</div>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
